@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestión de Préstamos - UPC</h1>
    <p class="lead">
        Sistema para la gestión de préstamos, inventario de libros y usuarios
        en una biblioteca.
    </p>
</div>